/**************** BROWN  STAYLE START *************/
.brown-section {
  position: relative;
  padding-top: 141px;
  padding-bottom: 146px;
  background-color: var(--main-bg-color);
}
.brown-section__start::after {
  position: absolute;
  width: 570px;
  height: 570px;
  right: calc(10%);
  bottom: calc(4%);
  background-image: url("../../imags/brown-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .brown-section__start::after {
    content: url("../../images/brown-bg@2x.png");
  }
}
.brown-section__title {
  width: 100%;
  max-width: 349px;
  margin: 0;
  padding-bottom: 16px;
  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
}
.brown-section__text {
  width: 100%;
  max-width: 442px;
  margin: 0;
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-text-color);
}


/**************** BROWN-MOBILE  STAYLE START *************/
@media (max-width:1026px) {
  .brown-section {
    padding: 100px 0;
    text-align: center;
  }
  .brown-section__start::after {
    display: none;
  }
  .brown-section__text {
    margin-left: 280px;
  }
  .brown-section__title  {
    margin-left: 320px;
  }
  .brown-section .site-main__btn {
  }
}
@media (max-width:990px) {
  .brown-section__text {
    margin-left: 240px;
  }
  .brown-section__title  {
    margin-left: 270px;
  }
}
@media (max-width:870px) {
  .brown-section__text {
    margin-left: 200px;
  }
  .brown-section__title  {
    margin-left: 220px;
  }
}
@media (max-width:720px) {
  .brown-section__text {
    margin-left: 140px;
  }
  .brown-section__title  {
    margin-left: 150px;
  }
}
@media (max-width:640px) {
  .brown-section__text {
    margin-left: 80px;
  }
  .brown-section__title  {
    margin-left: 90px;
  }
}
@media (max-width:545px) {
  .brown-section__text {
    margin-left: 40px;
  }
  .brown-section__title  {
    margin-left: 50px;
  }
}
@media (max-width:510px) {
  .brown-section__text {
    margin-left: 0px;
  }
  .brown-section__title  {
    margin-left: 0px;
  }
}
/**************** BROWN-MOBILE  STAYLE END *************/
/**************** BROWN  STAYLE END *************/