/**************** FOOTER STAYLE START *************/
.site-footer {
  position: relative;
  padding: 70px 0 114px 0;
  background-color: #0A0808;
}
.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.logo-footer {
  width: 79px;
  height: 79px;
}
.site-footer__start {
  width: 208px;
  display: flex;
  flex-direction: column;
  

}
.site-footer__text {
  display: inline-block;
  width: 207px;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: var(--footer-text-color);
  opacity: 0.7;
}
.site-footer__flow {
  width: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--footer-text-color);
}
.site-footer__start--img {
  padding-right: 12px;
}
.row {
  align-items: center;
  flex-direction: row;
}
.site-footer__list {
  padding-top: 40px;
}
.one {
  padding-top: 50px;
}
.site-footer__item {
  margin-bottom: 10px;
}
.site-footer__item--link {
  font-size: 12px;
  line-height: 14px;
  color: var(--footer-text-color);
  opacity: 0.7;
}
.site-footer__end {
  padding-top: 50px;
}
.site-footer__end--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--footer-text-color);
}
.site-footer__end--link {
  margin-right: 10px;
}
.footer-form {
  width: 380px;
  padding-bottom: 18px;
}
.enter-your__input {
  width: 100%;
  max-width: 393px;
  height: 55px;
  padding-left: 32px;
  padding-right: 171px;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-text-color);
  background-color: #0A0808;
  border: 2px solid #D64374;
  border-radius: 5px;
}
.site-footer .question-section__form {
  position: relative;
}
.send-submit {
  position: absolute;
  right: calc(2.5%);
  bottom: calc(27%);
  padding: 16px 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--footer-text-color);
  border: none;
  background-color: #D23166;
  border-radius: 5px;
}


/**************** FOOTER-MOBILE STAYLE START *************/
@media (max-width:898px) {
  .site-footer__list {
    display: none;
  }
}
@media (max-width:650px) {
  .site-footer {
    text-align: center;
  }
  .site-footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .site-footer__flow {
    margin-left: 80px;
  }
}
@media (max-width:396px) {
  .enter-your__input {
  max-width: 363px;
  margin-left: 10px;
  padding-right: 141px;
  }
  .send-submit {
  position: absolute;
  right: calc(4.5%);
  bottom: calc(26%);
}
}
/**************** FOOTER-MOBILE STAYLE END *************/
/**************** FOOTER STAYLE END *************/