/**************** HERO  STAYLE START *************/
.hero-section {
  position: relative;
  padding-top: 196px;
  padding-bottom: 213px;
  background-color: var(--main-bg-color);
}
.hero-section__text {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0F0101;
}
.hero-section__title {
  width: 100%;
  max-width: 665px;
  margin: 0;
  padding-bottom: 35px;
  font-family: 'Fredoka One';
  font-weight: 400;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0F0101;
}
.hero-section__span {
  color: var(--btn-bg-color);
}
.hero-section__desc {
  width: 100%;
  max-width: 523px;
  margin: 0;
  padding-bottom: 50px;
  font-family: 'Hind Madurai';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--main-text-color);
}
.hero-section__start::after {
  position: absolute;
  width: 597px;
  height: 650px;
  right: calc(17%);
  bottom: calc(8%);
  background-image: url("../../imags/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-section__start::after {
    content: url("../../images/bg-image@2x.png");
  }
}


/**************** HERO-MOBILE  STAYLE START *************/
@media (max-width:1395px) {
  .hero-section__start::after {
    width: 550px;
    height: 600px;
  }
  
}
@media (max-width:1315px) {
  .hero-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  .hero-section__title , .hero-section__desc {
    display: inline-block;
  }
  .hero-section .site-main__btn {
    position: absolute;
    left: calc(43%);
    display: block;
  }
  .hero-section__start::after {
    display: none;
  }
}
@media (max-width:1090px) {
  .hero-section .site-main__btn {
    left: calc(40%);
  }
}
@media (max-width:744px) {
  .hero-section .site-main__btn {
    left: calc(38%);
  }
}
@media (max-width:692px) {
  .hero-section__title {
    font-size: 48px;
  }
}
@media (max-width:585px) {
  .hero-section__title {
    font-size: 36px;
  }
  .hero-section .site-main__btn {
    left: calc(35%);
  }
}
@media (max-width:465px) {
  .hero-section .site-main__btn {
    left: calc(30%);
  }
}
@media (max-width:365px) {
  .hero-section .site-main__btn {
    left: calc(24%);
  }
}
/**************** HERO-MOBILE  STAYLE END *************/


/**************** HERO  STAYLE END *************/
