/**************** SERVICE  STAYLE START *************/
.services-section {
  padding: 100px 0;
  background-color: var(--footer-text-color);
}
.service-section__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-section__item {
  position: relative;
  padding: 100px 26px 28px 26px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #00000008;
  border-radius: 7px;
}
.service-section__item:hover {
  box-shadow: 20px 20px 50px #00000008;
}
.service-section__subtitle {
  margin: 0;
  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--main-subtitle-color);
}
.service-section__subtitle::before {
  position: absolute;
  width: 51px;
  height: 43px;
  right: calc(38%);
  top: calc(15%);
  background-image: url("../../imags/icons/car.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
.Packaging::before {
  width: 32px;
  height: 42px;
  right: calc(41%);
  top: calc(15%);
  background-image: url("../../imags/icons/stakan.svg");
}
.money::before {
  width: 44px;
  height: 44px;
  right: calc(40%);
  background-image: url("../../imags/icons/cash-back.svg");
}
.fast-delivery::before {
  background-image: url("../../imags/icons/fast-delivery.svg");
}
.service-section__text {
  width: 100%;
  max-width: 198px;
  font-family: 'Hind Madurai';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--main-text-color);
}
/**************** SERVICE-MOBILE  STAYLE START *************/
@media (max-width:895px) {
  .service-section__list {
    flex-wrap: wrap;
  }
}
@media (max-width:895px) {
  .service-section__list {
    flex-direction: column;
  }
}
/**************** SERVICE-MOBILE  STAYLE END *************/
/**************** SERVICE  STAYLE END *************/